{% extends 'index.html' %}]
{% load bootstrap4 %}

{% block content %}


    <div class = "text-center mw-500 m-auto">
        <div class = "m-5"> <!-- 상하좌우 모두 5만큼-->
            <h4>Sign Up</h4>
        </div>
        <div>
            <form action="{% url 'myself:create' %}" method = "post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class = "m-4">
                    <input type="submit"
                           class="btn btn-info px-5">
                </div>
            </form>
        </div>
    </div>



{% endblock %}